<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1 id="led-message" style="display: none;">택배 도착!!!</h1>
        <h1>택배 알리미 서비스</h1>
        <div class="buttons">
            <button onclick="location.href='{{ url_for('camera') }}'">Camera</button>
            <button onclick="location.href='{{ url_for('static', filename='chatbot.html') }}'">Chatbot</button>
            <button onclick="location.href='{{ url_for('static', filename='login.html') }}'">Login</button>
        </div>
    </div>

    <script>
        function fetchLedStatus() {
            fetch('/led_status')
                .then(response => response.json())
                .then(data => {
                    const ledMessage = document.getElementById('led-message');
                    if (data.on) {
                        ledMessage.style.display = 'block';
                    } else {
                        ledMessage.style.display = 'none';
                    }
                });
        }

        setInterval(fetchLedStatus, 1000); // Fetch LED status every second
    </script>
</body>
</html>
